{% extends "index.html" %}

{% block new %}
        <div class="container-lg px-0 pb-5">
            <h1>Сайт: {{ url.name }}</h1>
            <table class="table">
                <tr>
                    <td>ID</td>
                    <td>{{ url.id }}</td>
                </tr>
                <tr>
                    <td>Имя</td>
                    <td>{{ url.name }}</td>
                </tr>
                <tr>
                    <td>Дата создания</td>
                    <td>{{ url.created_at }}</td>
                </tr>
            </table>
        </div>
        <div class="container-lg mt-5 mb-4 px-0">
            <div class="d-flex-wrap gap-4 justify-content-left">
                <div>
                    <h2>Проверки</h2>
                </div>
                <div>
                    <form action="/urls/checks " method="post">
                        <input type="submit" class="btn btn-primary  btn ms-0 px-1 text-uppercase mx-4" value="Запустить проверку">
                    </form>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Код ответа</th>
                        <th scope="col">h1</th>
                        <th scope="col">title</th>
                        <th scope="col">description</th>
                        <th scope="col">Дата создания</th>
                    </tr>
                </thead>
                {% block checks %}{% endblock %}
            </table>
        </div>
{% endblock %}

